* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/1ef84595-1fdb-4404-adac-15215ceeb3ae/db34337e-5f5d-4e1a-a6f9-cc1a441ce15e/AR-en-20220711-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  z-index: -1;
}
.container-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
  width: 100%;
}
.logo {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}
.logo img {
  width: 250px;
  height: 90px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  height: 80%;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 660px;
  padding: 68px;
  background-color: hsla(0, 0%, 0%, 0.74);
}
.login h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
}
.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-color: hsla(0, 0%, 0%, 0.75);
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}
#form input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #333333;
  color: #fff;
  font-size: 1rem;
  line-height: 50px;
  margin-bottom: 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 16px 20px 16px 16px;
}
#form input:focus {
  outline: none;
}
#form button {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: red;
  color: #fff;
  font-size: 1rem;
  line-height: 16px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 1px 0px 0px;
  cursor: pointer;
}
#form a {
  color: #fff;
  text-decoration: none;
  height: fit-content;
}
.recordar {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  height: 100%;
}
.recordar a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  margin-left: 9em;
}
.recordar a:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
  height: fit-content;
}
.recordar label {
  color: #fff;
  font-size: 13px;
  margin: 0px 5px;
}
.recordar input {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 5px;
  background-color: #fff;
}
.recordar input:checked {
  background-color: #fff;
}
.recordar input:focus {
  outline: none;
}
.recordar input:hover {
  cursor: pointer;
}
.login p {
  color: #7a7878c4;
  font-size: 16px;
  margin-top: 1rem;
  line-height: normal;
  letter-spacing: normal;
  height: 100%;
}
.login p a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.login p a:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 20vh;
  background-color: hsla(0, 0%, 0%, 0.75);
  padding: 30px 47px;
  flex-direction: column;
}
.llamda {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 50%;
  height: 20%;
}
footer p {
  color: #7a7878c4;
  font-size: 16px;
  margin-top: 1rem;
  line-height: normal;
  letter-spacing: normal;
  height: 100%;
}
footer p a {
  color: #7a7878c4;
  text-decoration: none;
  font-size: 16px;
}
footer p a:hover {
  border-bottom: 1px solid #fff;
  color: #fff;

  height: fit-content;
}
.footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: auto;
  height: 60%;
  margin: auto;
}
.footer-info a {
  color: #7a7878c4;
  text-decoration: none;
  font-size: 16px;
}
.footer-info a:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
  width: fit-content;

  height: fit-content;
}
