* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body{
  background-color: #333;
}
.header-container {
  height: 200px;
  align-items: center;
  padding: 0 20px;
  background: -moz-linear-gradient(
    top,
    rgba(7, 7, 7, 0.9) 10%,
    rgba(255, 255, 255, 0) 100%
  );
  position: relative;
  z-index: 1;
}
.logo {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #ccc; */
}
.logo img {
  margin: 20px 50px;
  width: 180px;
  height: 80px;
}
.logo button {
  margin: 20px 50px;
  background: red;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 7px 17px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.logo button a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-align: start;
}
/* main */

main {
  width: 100%;
  margin: auto;
  height: 60vh;
  position: absolute;
  top: 0;
  left: 0;
}
main img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}
.titulos {
  width: 100%;
  margin: 0 auto;
  height: 50rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.8)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titulos h1 {
  width: 50%;
  margin: 0 auto;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  line-height: 55px;
  padding: 20px;
  color: white;
}
.titulos h2 {
  width: 72%;
  font-size: 1.625;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  line-height: 25px;
  color: white;
}
.titulos h3 {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  line-height: 25px;
  color: white;
  margin-bottom: 20px;
}
.titulo-email {
  /* border: 1px solid #ccc; */
  width: 80%;
  text-align: center;
}
.titulo-email input {
  width: 450px;
  height: 60px;
  border: none;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}
.titulo-email input:focus {
  outline: none;
}
.titulo-email button {
  background: rgb(212, 2, 2);
  border: none;
  width: 212px;
  height: 60px;
  font-size: 1.1em;
  color: white;
  cursor: pointer;
}
.titulo-email button:hover {
  background: rgb(255, 0, 0);
}
/* section-right */
.section-right {
  width: 100%;
  margin: 0 auto;
  height: 25rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.section-right img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.section-text-right {
  color: white;
  text-align: start;
  /* border: 1px solid #ccc; */
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 30%;
}
.section-text-right h3 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.section-text-right p {
  width: 70%;
  font-size: 1.625rem;
  font-weight: 400;
  letter-spacing: 0;
}
/* section-left */
.section-left {
  width: 100%;
  margin: 0 auto;
  height: 25rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-img-left {
  margin-right: 5rem;
}
.section-left img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.section-text-left {
  color: white;
  text-align: start;
  /* border: 1px solid #ccc; */
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 30%;
}
.section-text-left h3 {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.section-text-left p {
  width: 70%;
  font-size: 1.625rem;
  font-weight: 400;
  letter-spacing: 0;
}